h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
}
header{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 82px 50px 96px;
}
.header__menu  {
display: flex;
flex-direction: row;
gap: 20px;
list-style: circle;
}
.header__links-list-item_no-bullit {
list-style-type: none;
color: #eb0808;
}
  .header_logo {
    width: 130px;
    height: 105px;
    display: block;
}
address { font-style: normal; margin: 0; padding: 0; }
.header__contacts {
 display: flex;
flex-direction: column;
max-width: 240px;
justify-self: end;
align-items: flex-start;
}

main {
    
}
ul {
    list-style-type: none; /* Убирает маркеры */
    padding: 0;            /* Убирает отступы слева */
    margin: 0;             /* Убирает внешние отступы */
}

.content-section {
    box-sizing: border-box;
    margin: auto;
    color: #000;
    }    
.cover {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-size: cover;
    background-image:url(/images/cover.jpg) ;
    color: #fff;
    font-family: raleway, sans-serif;
    height: 757px;
    padding: 50px, 165px, 50px;
   }
   .overlay {
    background-color: #00000026;
    }
    .cover__title {
        letter-spacing: 30%;
        line-height: 115%;
        font-weight: 550;
        font-size: 100px;
        gap: 100px;
        width: 100%;
          }
           .accent-span {
            display: block;
        }
                .text-center {
                    text-align: center;
                }
                                .text-right {
                                    text-align: right;
                                }
.description { 
}
.lots { 
    padding: 180px 24px 120px;
}
.lots__title { 
    margin-bottom: 27px;
    margin-left: 40px;
}
.more { 
    margin-top: 30px;
    margin-left: 40px;
}
.logo-column  { 
     width: 148px;
    display: block;
    }
.about{    padding: 120px 24px 180px;
  }
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 240px;
    align-items: center;
    padding: 0px 50px 82px;
}
.social-icon {
width: 48px;
}
.footer-social {
  display: flex;
  justify-content: space-between ; /* Центрирование */
  width: 240px;
}
.footer__menu {
box-sizing: center;
}
.footer__menu-item {
}
.footer__menu-list {
text-align: center;
}