h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none; /* Убирает маркеры */
}
header{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 82px 50px 96px;
}
.header__menu  {
display: flex;
flex-direction: row;
gap: 20px;
list-style: circle;
}
.header__links-list-item_no-bullit {
list-style-type: none;
color: #eb0808;
}
  .header_logo {
    width: 130px;
    height: 105px;
    display: block;
}
address { font-style: normal; margin: 0; padding: 0; }
.header__contacts {
 display: flex;
flex-direction: column;
max-width: 240px;
justify-self: end;
align-items: flex-start;
}

main {
    
}


.content-section {
    box-sizing: border-box;
    margin: auto;
    color: #000;
    }     
    .overlay {
    background-color: #7b636326;
    }
.cover {
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-size: cover;
    background-image:url(/images/cover.jpg) ;
    color: #fff;
    font-family: raleway, sans-serif;
   min-height: 757px;
    padding: 50px, 165px, 50px;
   
   }

    .aligned-text {
        display: block;
        text-transform: uppercase;
        letter-spacing: 30%;
        line-height: 115%;
        font-weight: 550;
        font-size: 100px;
        gap: 100px;
        width: 100%;
          }
         .aligned-text_left {
            text-align: left;
        }
                .aligned-text_center {
                    text-align: center;
                }
                                .aligned-text_right {
                                    text-align: right;
                                }
.cover__description { 
}
.letter-spacing-extended { 
    word-spacing: 27px;
}
.bet-button { 
   background-color:transparent;
}
.lots { 
   padding: 180px 24px 120px;
}
.lots__title { 
    margin-bottom: 27px;
    margin-left: 40px;
}
.card__content{ 
    width: 254px;
   }
.card { 
   width: 100%;
   background-size: cover;
   background-position: center
}
.lots__card { 
    display: flex;
    
   width: 100%;
   background-size: cover;
   background-position: center
}
.card__title { 
   width: 100%;
}
.card__book { 
   background-image: ;
}
.more { 
    margin-top: 30px;
    margin-left: 40px;
}
ul, ol {
  list-style: none; /* Убирает маркеры */
}

.logo-column  { 
     width: 148px;
    display: block;
    }
.about{    padding: 120px 24px 180px;
  }
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 240px;
    align-items: center;
    padding: 0px 50px 82px;
}
 .futer__contacts {
display: flex;
flex-direction: column;
max-width: 240px;
justify-self: end;
align-items: flex-start;}

.social-icon {
width: 48px;
}
.footer__social-list {
  display: flex;
  justify-content: space-between ; /* Центрирование */
  width: 240px;
}
.footer__menu {
box-sizing: center;
}
.footer__menu-item {
}
.footer__menu-list {
text-align: center;
}