h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
}

.content-section {
  width: 100%;
  margin: 0 auto; /* Убирать ноль? */
}
.header {
    padding: 92px 50px 96px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    font-size: 18px;
    }
.header__links-list {
    display: flex;
    gap: 32px;
    align-items: center;
    }
.header__links-list-item {
   list-style: circle;
}
.header__links-list-item_no-bullit {
    list-style-type: none;
 }
 .header__logo {
  display: block;
  justify-self: center;
  align-self: center;
  width: 135px;
  height: 105px;
}
.header__logo-image {
 
}

.adress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 240px;
    justify-self: end;
    font-style: inherit;
    line-height: 1.35;
}
.cover {
    position: relative;
     box-sizing: border-box;
    background-image: url("/images/cover.jpg");
    background-position: center;
    background-size: cover;
    min-height: 757px;
    padding: 165px 50px 50px;
    z-index: 0;
    }
.overlay {
  position: absolute;
   z-index: -1;
  inset: 0;
   /*  width: 100%;
  height: 100%;
  */
  background-color: rgba(0, 0, 0, 0.6);
 } 
 
.bacgraund__cover {
    position: relative;
     box-sizing: border-box;
    background-image: url("/images/cover.jpg");
    background-position: center;
    background-size: cover;
    min-height: 766px;
    padding: 165px 50px 50px;
    z-index: 0;
}
.cover__text {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    }

.cover__title {
    font-size: 100px;
    font-weight: 700;
    line-height: 115%;
    }
.letter-spacing-extended {
   letter-spacing: 0.3em;
}
.letter-spacing-first{
   letter-spacing:initial;
}

.no-letter-spacing{
  /* letter-spacing: -3px;*/
}
.aligned-text_left {
    display: block;
    text-align: left;
    margin-bottom: 23px;
}                
.aligned-text_center {
    display: block;
    text-align: center;
    margin-right: -30px;
    /* margin-top: 23px; width: 100%; */
    margin-bottom: 18px;
    }
.aligned-text_right {
    display: block;
    text-align: right;
    margin-right: -30px;
    /*margin-top: 20px; */
 }
.cover__description-text {
    font-size: 22px;
    line-height: 28px;
    font-weight: lighter;
    word-spacing: 22px;
   }
   
.bet-button {
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    padding: 11px 31px;
    }
    .text-button {
    font-size: 22px;
    line-height: 28px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    }
.cover__description {
    display: flex;
    justify-content: space-between;
    margin-top: 106px;
    align-items: baseline;
    flex-wrap:nowrap;
}
.lots {
    
    padding: 180px 24px 0px;
    }
ul {
    list-style-type: none; /* Убирает маркеры */
}
.lots__heading { /* заголовок секции; */
   font-size: 40px;
   font-weight: 700;
   margin-bottom: 30px;
   line-height: 47px;
   margin-left: 40px;
}
.lots__card-list { /* список карточек */
    display: flex;
    gap: 25px;
    
    }
.lots__card-list-item { /* пункт списка карточек */
    position: relative;
    inset: 0;
    z-index: 1;
  }
 .card__title { /*заголовок карточки*/
 font-size: 22px;
 line-height: 120%;
 color: rgb(255, 255, 255);
   text-transform: uppercase;
 }
.card__text { /* текст карточки */
 font-size: 20px;
 line-height: 120%;
 color: rgb(255, 255, 255);
 }
 .card {
 position: relative;   /*карточка*/
 display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-between;
background-size: cover;
background-position: center;
width: 334px;
min-height: 596px;   
padding: 48px 40px;
margin-top: -7px;
    }
 .card__film {
    z-index: -1;
    background-image: url(/images/card-lot-01.jpg);
 }
 .card__book {
    z-index: -1;
    background-image: url(/images/card-lot-02.jpg);
    }
 .card__painting {
    z-index: -1;
    background-image: url(/images/card-lot-03.jpg);
    }
.lots__look-more-link  {
    font-size: 20px;
    line-height: 28px ;
    margin-top: 31px;
    margin-left: 40px;
    }
.about {
    /*box-sizing: border-box; */
    display: grid;
   grid-template-columns: 334px auto;
   grid-template-rows: 240px auto;
    padding-top: 150px;
    gap: 8px 50px;
    
     /* Отступы между ячейками */
      }
.about__column-logo {
    
}
.about__logo {
    grid-row: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    background-color: rgb(0, 0, 0);
    border-radius: 90%;
    margin-left: 70px;
    
}
.about__logo-image {
  width: 148px;
  height: 114px;
    }
.about__column-text{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 670px;
      gap: 24px;
}
.about__title {
   align-self: center;
   font-size: 40px;
   font-weight: 700;
   margin-top: 5px;
   line-height: 47px;
   text-transform: uppercase;
}
.about__text {
    
    font-size: 20px;
    line-height: 24px;
  
}
.footer {
    padding :180px 50px 82px 50px;
    display: grid;
    grid-template-columns: 1fr 164px 1fr;
    font-size: 18px;
}
.futer__contacts{
  display: flex; 
  flex-direction: column;
  width: 265px;
  font-size: 18px;
  line-height: 25px;
  gap: 1px;
}
.footer__menu{

}
.footer__menu-list{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__menu-link{
 align-items: center;
}
.footer__social-list-item{
    display: flex;
    justify-content: end;
    gap: 48px;
}
.footer__social-link{
 
}
.social-icon{
    width: 48px;
}